.project_body{
    width: 70%;
    /* padding: 20px 20px; */
    background-color: white;
    margin: auto;
    margin-top: 2%;
    border-radius: 8px;
}

.project_cover_img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -5px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter:contrast(80%) brightness(70%);
}

.project_content{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 30px;
    background-color: rgb(230,185,0);
    /* color: white; */
}

.project_content p{
    /* font-weight: bold; */
    font-size: larger;
    margin: 5px;
}

.project_details{
    width: 70%;
    padding: 20px 0px;
    /* background-color: white; */
    margin: 20px auto;
}
.project_project_details{
    background-color: white;
    padding: 20px;
    margin-right: 1%;
    /* margin: 0 1.0%; */
    display: inline-block;
    width: 46%;
}
.project_seeker_details{
    background-color: white;
    padding: 20px;
    margin-left: 1%;
    /* margin: 0 1.0%; */
    display: inline-block;    
    width: 46%;
}